.user-card {
    border: 1px solid #ccc;
<<<<<<< HEAD
    background-color: #d9d9d9;
    border-top: none;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    
=======

    border-top: none;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;

>>>>>>> 82b96c39f46b66389fc7644c4bcabf7a1a9302ad
    padding: 3px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

<<<<<<< HEAD
.user-card h4{
    font-family: 'Roboto', sans-serif;
}
=======
>>>>>>> 82b96c39f46b66389fc7644c4bcabf7a1a9302ad
.user-info {
    display: flex;
    align-items: center;
}

.user-text {
<<<<<<< HEAD
=======

>>>>>>> 82b96c39f46b66389fc7644c4bcabf7a1a9302ad
    margin-right: 50px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

<<<<<<< HEAD
.user-name{
    margin-bottom: 0
}

.user-username{
    margin-top: 0;
}

=======
>>>>>>> 82b96c39f46b66389fc7644c4bcabf7a1a9302ad
.avatar img {
    width: 50px;
    height: 50px;
}

<<<<<<< HEAD

=======
.user-list {
    max-width: 300px;
    margin: 0 auto;
}
>>>>>>> 82b96c39f46b66389fc7644c4bcabf7a1a9302ad

.follow-button {
    background-color: #1F3054;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    border: solid #1F3054;
    transition: 0.5s ease;
    margin-right: 10px;
}

.follow-button:hover {

    background-color: #2980b9;
    border: solid #2980b9;
    transition: 0.5s ease;
}